<br><br><br>
<div class="text-md-center letra ">Sobre Mi</div>
<div class="container-fluid">

  <mat-card  class="sombra animate__animated animate__lightSpeedInLeft card">
    <div class="row">
      <div class="col-md-4">


        <p>Desde siempre me a motivado seguir aprendiendo ya sea explorando oportunidades únicas, aprendiendo habilidades adicionales o conociendo gente nueva, aporto estos valores a cada experiencia a lo largo de mi vida a nivel personal y profesional.
          Amante de la innovación y todo lo relacionado para generar nuevos conocimientos. Enfrenta los problemas con una sonrisa y buscar una solucion lo antes posible.
          Para obtener más información sobre mí, siga explorando mi sitio web o contactame directamente.
          </p>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">

       <p class="fw-bold">Informacion Basica:<span class="fw-normal"> Galvez Francisco</span></p>
       <p class="fw-bold">Fecha de Nacimiento: <span class="fw-normal">01/04/2003</span></p>
       <p class="fw-bold">Email: <span class="fw-normal"> Galvezb333@gmail.com</span></p>
       <p class="fw-bold">Pais: <span class="fw-normal"> Argentina</span></p>
       <p class="fw-bold">Idiomas: <span class="fw-normal"> Español</span></p>
      </div>
    </div>
  </mat-card>
</div>



