<div  class="container-fluid">
  <div class="row">
    <div  class="col-md-12">
      <br>
      <div class=" letra text-center">Experiencia</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div  class="col-md-10">
      <mat-card class="example-card1 animate__animated animate__zoomInRight letra text-center card">
        <mat-card-title>  </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content class="letra2">
         -Reparador computadores de forma particular
         <br>
         -Armados de computadoras de forma particular
         <br>
         -Instalador de  sistemas operativos
        </mat-card-content>
      </mat-card>
    </div>
</div>
